@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400;500;600;700&display=swap');

html, body {
	height: 100%;
	background-color: #F9F9F9;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
:root {
	
}
#app {
	min-height: 100%;
}